---
import Picture from './Picture.astro';
---
<section
    id="open-source"
    class="w-full my-16 grid grid-cols-1 justify-items-center lg:grid-cols-2 gap-8 py-8 snap-center relative overflow-hidden justify-center h-fit min-h-[80vh]"
>
    <Picture
        relative={false}
        src="/bg_palace.jpg"
        className="block absolute top-0 left-0 h-full brightness-75"
        author="wong zihoo"
        link="https://unsplash.dogedoge.com/photos/3OjwScH356E"
    />
    <h2 class="text-xl md:text-4xl w-full text-center brightness-125 relative text-white">{$t("bd97a051510b80ae9f506653fb9ade76")}</h2>
    <h2
        class="text-xl row-start-3 lg:col-start-2 lg:row-start-1 md:text-4xl w-full text-center brightness-125 relative text-white"
    >{$t("6e9371e27340bfa9e54b559aef3c2738")}</h2>
    <ul class="gap-8 grid grid-cols-2 p-12 w-fit relative">
        <li class="bg-white rounded-lg p-4">
            <span class="text-8xl">{$t("acf1af440311f119290eaf28749b26db")}</span>
            <h3 class="text-2xl">{$t("eb0a2d788e2a4a796c460b0903e79d32")}</h3>
            <div class="text-sm text-neutral-500 py-2">{$t("5e97a474021f06f18157500268b6f035")}<br />{$t("88267ac7123d956ca699948dee708c81")}</div>
        </li>
        <li class="bg-white rounded-lg p-4">
            <span class="text-8xl">🚀</span>
            <h3 class="text-2xl">{$t("1cb4366c49de0dc3542dad7a1f1e5518")}</h3>
            <div class="text-sm text-neutral-500 py-2">{$t("f5e5ea0732ca7a50842d2d87ece24912")}<br />{$t("64c3e773bc3d0c0e588e005cb57b1045")}</div>
        </li>
        <li class="bg-white rounded-lg p-4">
            <span class="text-8xl">🍕</span>
            <h3 class="text-2xl">{$t("3bf0fdc16a2cbb1f4b27d6702092545b")}</h3>
            <div class="text-sm text-neutral-500 py-2">{$t("1e734441c5411d828426892396ea6606")}<br />{$t("3725c9251ae8ae7d42b38fa8791a4f73")}</div>
        </li>
        <li class="bg-white rounded-lg p-4">
            <span class="text-8xl">{$t("092acb368d42d78ebcb3e0334327c54c")}</span>
            <h3 class="text-2xl">{$t("7afbab8de590a64b89b3d49abdd0b6af")}</h3>
            <div class="text-sm text-neutral-500 py-2">{$t("573cab9bb0a052b3c250e7edadc22453")}<br />{$t("1ee9c11b02d803e22bf004a29aee42d1")}</div>
        </li>
    </ul>

    <ul
        class="flex flex-wrap gap-4 p-4 border-neutral-400 rounded-md justify-evenly items-center relative md:mx-12"
    >
        <li class="bg-white rounded-lg p-4">
            <a href="https://www.npmjs.com/package/cn-font-split" target="_blank">
                <div class="text-sm text-neutral-500">cn-font-split</div>
                <h3 class="text-2xl">{$t("48928df0c05291cade11cc715c77f43d")}</h3>
                <nav>
                    <button>{$t("5996aebfe75f94d7d27104cad096e71b")}</button>
                    <button>{$t("627dd991ce0da6b352dfeab9f167b237")}</button>
                </nav>
            </a>
        </li>
        <li class="bg-white rounded-lg p-4">
            <a href="https://github.com/KonghaYao/font-server" target="_blank">
                <div class="text-sm text-neutral-500">font-server</div>
                <h3 class="text-2xl">{$t("0939794ddbc872708aa6a5ba70c44c83")}</h3>
                <nav>
                    <button>{$t("5996aebfe75f94d7d27104cad096e71b")}</button>
                    <button>{$t("627dd991ce0da6b352dfeab9f167b237")}</button>
                </nav>
            </a>
        </li>
        <li class="bg-white rounded-lg p-4">
            <a href="https://github.com/KonghaYao/chinese-free-web-font-storage" target="_blank">
                <div class="text-sm text-neutral-500">chinese-free-web-font-storage</div>
                <h3 class="text-2xl">{$t("e26f7451c6262ee407dd01220cabc7b1")}</h3>
                <nav>
                    <button>{$t("5996aebfe75f94d7d27104cad096e71b")}</button>
                    <button>{$t("627dd991ce0da6b352dfeab9f167b237")}</button>
                </nav>
            </a>
        </li>
        <li class="bg-white rounded-lg p-4">
            <a href={"/"+Astro.params.lang+"/online-split"} target="_blank">
                <div class="text-sm text-neutral-500">online-font-split</div>
                <h3 class="text-2xl">{$t("d4720cefaf5f9fbb55c1ef324ecd3a2e")}</h3>
                <nav>
                    <button>{$t("5996aebfe75f94d7d27104cad096e71b")}</button>

                    <a href={"/"+Astro.params.lang+"/online-split"} target="_blank">
                        <button>{$t("627dd991ce0da6b352dfeab9f167b237")}</button>
                    </a>
                </nav>
            </a>
        </li>
        <li class="bg-white rounded-lg p-4">
            <a href="https://www.npmjs.com/package/font-analyze" target="_blank">
                <div class="text-sm text-neutral-500">font-analyze</div>
                <h3 class="text-2xl">{$t("c247877500b8ea77c891650f7d5fe4f7")}</h3>
                <nav>
                    <button>{$t("5996aebfe75f94d7d27104cad096e71b")}</button>

                    <a href={"/"+Astro.params.lang+"/analyze"} target="_blank">
                        <button>{$t("627dd991ce0da6b352dfeab9f167b237")}</button>
                    </a>
                </nav>
            </a>
        </li>
    </ul>
</section>
