---
import { TalkPanel } from '../../components/free-talk/TalkPanel';
import Layout from '../../Layout/Layout.astro';
---
<Layout
    title={$t("bcdf099bb873610bc3b28e28bc631cbc")}
    description={$t("799a430e341b71a8fbeee78f9180f6fa")}
    keywords={$t("b1b016d42d08a0b7838fa2d935d06246")}
>
    <section class="flex flex-col items-center">
        <h1 class="text-3xl mt-12">{$t("64a969ab9ce124b60f26e49fa66f14d1")}</h1>
        <TalkPanel client:load />
    </section>
</Layout>
