---
import { TalkPanel } from '../../components/free-talk/TalkPanel';
import Layout from '../../Layout/Layout.astro';
---

<Layout
    title="问题收集箱 - 中文网字计划"
    description="在线字体分包器是一个实用工具，可帮助你快速将字体文件打包并部署到你的网站上。使用我们的免费服务，让你的网站字体加载更快、更稳定，提升用户体验。立即开始使用！"
    keywords="在线字体分包器,字体部署工具,网页字体优化,字体文件打包,网站字体加载加速,字体分包部署,免费字体优化工具,网页排版工具"
>
    <section class="flex flex-col items-center">
        <h1 class="text-3xl mt-12">问题收集箱</h1>
        <TalkPanel client:load />
    </section>
</Layout>
