---
import Layout from '../../../Layout/Layout.astro';
import { AlgoliaSearchBox } from '../../../GoogleSupport/searchBox';
---
<Layout>
    <nav>
        <a href={"/"+Astro.params.lang+"/"} class="bg-white p-2">{$t("cd83527a490efdda404f5958b7546349")}</a>
    </nav>
    <AlgoliaSearchBox client:only="solid" />
</Layout>
