---
function changeLanguage(lang: string) {
    throw new Error($t("f1742682342df1024960142213c66154"));
}

import '../index.css';
import '../style/markdown.less';
import '../style/markdown.table.less';
import '../style/post.css';
import { SEO } from 'astro-seo';
import Sentry from '../components/SentryScript.astro';
import { __CDN__ } from '../global';
export interface Props {
    title?: string;
    description?: string;

    keywords?: string;
    meta?: any;
    defaultFontCSS?: string;
    article?: {
        publishedTime?: string | undefined;
        modifiedTime?: string | undefined;
        authors?: string[] | undefined;
        section?: string | undefined;
        tags?: string[] | undefined;
        image?: string;
    };
    lang: string
}
const {
    title = $t("c75625dccf148721245b46b1e3e6c79f"),
    description = $t("62ad0ae253a6017d313347e67f1a0c01"),
    keywords,
    defaultFontCSS = __CDN__ + '/packages/lxgwwenkai/dist/LXGWWenKai-Light/result.css',
    article,
    lang=Astro.params.lang
} = Astro.props;
globalThis.lang = Astro.params.lang
---
<!DOCTYPE html>
<html lang={lang}>
    <head>
        <!--             Global Metadata             -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />

        <slot name="meta" />
        <SEO
            title={title + $t("2dcc72d268f8cea2fe7fbfee66a8a1e3")}
            description={description}
            openGraph={{
                basic: {
                    title: title,
                    type: 'article',
                    image:
                        article?.image ??
                        'https://ik.imagekit.io/chinesefonts/image/website_description.png?updatedAt=1685230267522&tr=w-1200%2Ch-675%2Cfo-auto',
                },
                optional: {
                    siteName: '中文网字计划',
                },
                article,
            }}
        />
        <meta
            name="keywords"
            content={$t("c9d802874c719a45942767022ca665e4") +
                keywords}
        />
        <link rel="preconnect" href="https://chinese-fonts-cdn.netlify.app" crossorigin />
        <link rel="stylesheet" href={defaultFontCSS} />
    </head>
    <body class="post-body flex flex-col overflow-hidden">
        <slot />
        <Sentry />
    </body>
</html>
